/*variables; :root can be useful for declaring global 
CSS variables:*/
:root {
    --main-color: #000000;
    --main-green: #7FFF00;
}

body {
    font-family: "HelveticaNeue-Light", sans-serif;
    height: 100%;
    background-color: var(--main-color);
}

.wrapper {
    width: 50%;
    color: var(--main-green);
    text-align: center;
    /*center vertical and horizontally*/
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1, h2 {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    text-transform: uppercase;
}

p {
    font-size: 3.5em;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    border-radius: 10px;
    font-size: 2em;
    text-decoration: none;
    color: var(--main-green);
    background-color: #000000;
    outline: none;
    margin: 10px;
    width: 200px;
    height: 60px;
    padding: 5px 0;
    border: 1px solid var(--main-green);
    cursor: pointer;
}

button:hover {
    background-color:var(--main-green);
    border: 1px solid var(--main-green);
    color:var(--main-color);
    transition: all ease-in-out 0.5s;
}